html { scroll-behavior: smooth;}

a {
    text-decoration: none;
}

.header {
    background-color: #26d0c9;
    height: 70px;
}

.header-logo {
    font-size: 40px;
    color: white;
    border-bottom:4px solid red;
    float:left;
    padding-right: 60px;
    font-weight:bold;   
    padding: 5px 5px  
}

.header-logo a{
    color: white;
}

.header-logo a:hover{
    color:black;
}

.list-ichi a {
    color: white;
}

.list-ichi a:hover {
    color:black;
}

.header-logo span {
    font-size: 42px;
}

.header-list li {
    float:left;
    padding:25px 20px;
    font-size:15px;
    font-weight:bold;
}

.list-ichi {
    font-size:small;
    color: white;
    list-style:none;
}


@media screen and (min-width: 960px) {

}

.main-top {
    margin-bottom:90px;
    background-image:url("https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG4UCZfcp7uwMHCQP3LU6hdvpxL8q1U6Kho77i3BXZZ47y4iZTldufLUyozbcCsSNUYcP29IdS8ul5oVqipgS7deKWbPA8D251KCyjrdFB0VrMxSVL7Yopmro_B9u6muwXVtfIhrveQm6FVm_CTUcIcXyOYhjm-UvcyTR64l5ygNQHmifIeyBl86_uthi4ocFPzz8a-RBtd2w9REE7vxuocODq-yTtpC6p1Ie6_ks11WSkep3qDPiLdVA6ZovKb7sBw==/fu160202_shiro01.jpg?errorImage=false");
    background-size:cover;
    overflow: hidden;
    margin-top:10px;
    height:650px;
}

.Welcome {
    padding-top: 90px;
    font-size: 45px;
    font-family:"MS Mincho";
    padding-left: 15px;
}

.sp-2 {
    background: linear-gradient(transparent 50%, #ffffff 0%);
    line-height: 1.3em;
}

.sp-3 {
    border-bottom:#ffffff solid 3px;
}

.h2-1 {
    color:rgb(0, 0, 0);
    font-size: 65px;
    padding-left: 20px;
    margin-right: 20px;
    font-family:"MS Mincho";
    font-weight: 900;
    line-height:95px;
}

@media screen and (min-width: 1000px){
    .sp {
      display: none;
    }
}

.青春 {
    color: #ff85c6;
    text-shadow:1px 1px 0 black, -1px -1px 0 black,
    -1px 1px 0 black, 1px -1px 0 black,
    0px 1px 0 black,  0-1px 0 black,
    -1px 0 0 black, 1px 0 0 black;
}

.謳歌 {
    color: blue;
    text-shadow:1px 1px 0 black, -1px -1px 0 black,
    -1px 1px 0 black, 1px -1px 0 black,
    0px 1px 0 black,  0-1px 0 black,
    -1px 0 0 black, 1px 0 0 black;
}

.大罪人 {
    color:red;
    text-shadow:1px 1px 0 black, -1px -1px 0 black,
    -1px 1px 0 black, 1px -1px 0 black,
    0px 1px 0 black,  0-1px 0 black,
    -1px 0 0 black, 1px 0 0 black;
}

.h2-2 {
    font-size: 13px;
    padding-left:75px;
    font-family:Arial;
    line-height:0px;
    opacity:0.7;
}

.省略 {
    font-size: small;
}
.main-body {
    font-family:"Yu Gothic";
    margin-bottom:110px;
}

.main-body p1 {
    font-size:18px
}

h3 {
    font-size:28px;
    font-family:"MS Mincho";
    border-bottom: 1px solid black;
}

.誓い {
    font-weight: 900;
    font-size:20px
}

.誓いの言葉 {
    font-weight:900;
    color:red;
    font-size:20px;
}

.main-ni, .main-san, .main-yon{
    margin-bottom: 110px;
}

.活動メンバー紹介 {
    font-size:28px;
    font-family:"MS Mincho";
    border-bottom: 1px solid black;
}

.活動メンバー紹介-中身 {
    margin: 0px 50px 0px 20px;
}

.活動メンバー紹介-中身 p1{
    font-size:25px;
    font-weight:450;
    border-bottom: 1px solid black;
}

.aori,.asuto,.genki,.hibiki,.hiroki,.kaede,.mahiro,.mei,.yumeka p2 {
    font-size:18px;
    padding-bottom:44px;
    margin-bottom:10px;
}

.asuto,.hibiki,.kaede,.mei {
    background-color: rgb(235, 235, 235);
}

.役員紹介 {
    font-size:28px;
    font-family:"MS Mincho";
    border-bottom: 1px solid black;
}

td,
th {
    border: 2px solid black;
    padding: 10px;
    font-size:18px;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

table {
    width:400px;
    height:150px;
}

.表1 {
    padding-left: 100px;
}