.header {
    margin-bottom: 10px;
    background-color: #26d0c9;
    height: 70px;
}

.header-logo {
    font-size: 40px;
    color: white;
    border-bottom:4px solid red;
    float:left;
    margin-bottom: 10px;
    margin-right: 60px;
    font-weight:bold;   
    padding: 5px 5px  
}

.header-logo a{
    color: white;
    text-decoration: none;

}

.header-logo a:hover{
    color:black;
}

.list-ichi a {
    color: white;
    text-decoration: none;
}

.list-ichi a:hover {
    color:black;
}
.header-logo span {
    font-size: 42px;
}

.header-list li {
    float:left;
    padding:25px 20px;
    font-size:15px;
    font-weight:bold;
}

.list-ichi {
    font-size:small;
    color: white;
    list-style:none;
}

.main {
    background-color: white;
    margin-right:200px;
    margin-left:50px;
}

.main-top {
    margin-bottom:110px;
}

.Welcome {
    padding-top: 40px;
    font-size: 45px;
    font-family:"MS Mincho";
    padding-left: 15px;

}

.h2-1 {
    color:rgb(0, 0, 0);
    font-size: 65px;
    padding-left: 20px;
    padding-right: 20px;
    font-family:"MS Mincho";
    font-weight: 900;
    line-height:95px;
}

.青春 {
    color: #ff85c6;
}

.謳歌 {
    color: blue;
}

.大罪人 {
    color:red;
}

.h2-2 {
    font-size: 13px;
    padding-left:75px;
    font-family:Arial;
}

.main-body {
    font-family:"Yu Gothic";
    margin-bottom:110px;
}

.main-body p1 {
    font-size:18px
}

h3 {
    font-size:28px;
    font-family:"MS Mincho";
    border-bottom: 1px solid black;
}



.誓い {
    font-weight: 900;
    font-size:20px
}

.誓いの言葉 {
    font-weight:900;
    color:red;
    font-size:20px;
}

.main-ni {
    margin-bottom: 110px;
}

.活動メンバー紹介 {
    font-size:28px;
    font-family:"MS Mincho";
    border-bottom: 1px solid black;
}
